<!DOCTYPE HTML>
<html>
	<head>
		<title>Auto Paper Summary</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% load static %}
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Auto Paper<br />
						Summary</h1>
						<p>A simple text summary tool designed by <br />
						<a href="mailto:tty8128@bu.edu">Tianyi Tang</a> and <a href="#intro">Yuzhou Cui</a></p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{% url 'index' %}" class="logo">Auto Paper Summary</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="{% url 'index' %}">Introduction</a></li>
							<li><a href="{% url 'summary' %}">Text Summary</a></li>
							<li><a href="{% url 'about' %}">About Us</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://twitter.com/tty8128" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/tty8128" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/adkmrx/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com/8128/Auto-Paper-Summary" class="icon fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<span class="date">Keep Everything Simple</span>
									<h2>Summarize your <br />
									own text</h2>
									<p>Save your time for your creativity and productivity.<br />
									Say goodbye to redundant texts, only check out the key sentences here at Auto Paper Summary.<br />
                                    Pure, simple, instant.<br />
									Here we only offer you the key answer.</p>
								</header>
								<a href="" class="image main"><img src="{% static 'images/pic01.png' %}" alt="" /></a>
							</article>

						<!-- Posts -->
							<section class="posts">
								<article>
									<header>
										<span class="date">User Story</span>
										<h2>Investor</h2>
									</header>
									<a href="" class="image fit"><img src="{% static 'images/pic02.jpg' %}" alt="" /></a>
									<p>Long text, terminologies, strange logics, etc. What is this report saying? Don’t throw it away, come here at Auto paper summary and claim the readable text. Your time is valuable.</p>
								</article>
								<article>
									<header>
										<span class="date">User Story</span>
										<h2>Student</h2>
									</header>
									<a href="" class="image fit"><img src="{% static 'images/pic03.jpg' %}" alt="" /></a>
									<p>Lots of papers to read and new fields to dive in. You really don’t have to be troubled. We exactly know how you feel as a student either. Come to us and we won’t disappear you.</p>
								</article>
								<article>
									<header>
										<span class="date">User Story</span>
										<h2>Journalist</h2>
									</header>
									<a href="" class="image fit"><img src="{% static 'images/pic04.jpg' %}" alt="" /></a>
									<p>Could a person has knowledge in all fields? Definitely No. Need background investigation every time? Definitely Yes. So why don't you come to us? Key points in background investigation in a flash!</p>
								</article>
								<article>
									<header>
										<span class="date">User Story</span>
										<h2>Beginner</h2>
									</header>
									<a href="" class="image fit"><img src="{% static 'images/pic05.jpg' %}" alt="" /></a>
                                    <p>Your patience is wearing thin due to the tutorial which is long and seems nonsense. Why don't you let us help? Make it much simpler and enjoy your joyful begin at here.</p>
								</article>
							</section>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<form method="post" action="#">
								<div class="fields">
									{% csrf_token %}
                                    {{ emailform }}
								</div>
                                    <ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
                                <p><a href='https://www.bu.edu/eng/departments/ece/'>Boston University</a><br />
                                8 St Marys St #02215<br />
								Boston, MA</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p>(857)-277-4183<br />
                                (857)-445-9374</p>
							</section>
							<section>
								<h3>Email</h3>
								<p><a href="mailto:tty8128@bu.edu">tty8128@bu.edu<br />
                                cuicyz@bu.edu</a></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="https://twitter.com/tty8128" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							        <li><a href="https://www.facebook.com/tty8128" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							        <li><a href="https://www.instagram.com/adkmrx/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							        <li><a href="https://github.com/8128/Auto-Paper-Summary" class="icon fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Tianyi Tang</li><li><a href="mailto:tty8128@bu.edu">tty8128@bu.edu</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
