<!DOCTYPE HTML>
<html>
	<head>
		<title>Auto Paper Summary</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% load static %}
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
					<header id="header">
						<a href="{% url 'index' %}" class="logo">Auto Paper Summary</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="{% url 'index' %}">Introduction</a></li>
							<li><a href="{% url 'summary' %}">Text Summary</a></li>
							<li><a href="{% url 'about' %}">About Us</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://twitter.com/tty8128" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/tty8128" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/adkmrx/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com/8128/Auto-Paper-Summary" class="icon fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<span class="date">Thank you!</span>
									<h3>Thanks for your feedback,<br />
                                        your feedback will be sent to admin database,<br />
									    improvement will come soon!</h3>
								</header>
							</article>


					</div>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Tianyi Tang</li><li><a href="mailto:tty8128@bu.edu">tty8128@bu.edu</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
